{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static "blog/index.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/the_king_luigi.jpg" %}" alt="Luigi - The Author Of This Blog" />
            <h2>LUIGI'S BLOG</h2>
        </header>
        <p>Hi, I am Luigi and I love to blog about tech and the World!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do!</h2>
        <p>I love programming and hiking Emacs is my house!</p>
        <p>My goal is to keep going as a developer!</p>
    </section>
{% endblock %}
