{% load static %}

<!DOCTYPE html>
<html lang="en-us" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "app.css" %}" type="text/css" media="screen" />
        {% block css_files %}{% endblock %}
    </head>
    <body>
        <header id="main-navigation">
            <h1><a href="{% url "starting-page" %}">Luigi's Blog</a></h1>
            <nav>
                <a href="{% url "posts-page" %}">All Posts</a>
            </nav>
        </header>
            
        {% block content %}
        {% endblock %}
        <footer>
            <p>
                <span class="option__heading">Django Community</span><span class="sr-only">.</span><br>
                Connect, get help, or contribute
            </p>
        </footer>
    </body>
</html>
